/* ovewrite bootstrap defaults  */
.container{
    margin: 0;
}
input{
   margin-bottom: 1rem;
}
.jumbotron{
    border: 1px solid black;
    margin-top: 1rem;
}
.card {
    display: inline-block;
    
}
